In [61]:
import pandas as pd
import csv
import logging
import sys
sys.path.append('../')

In [64]:
data= pd.read_csv('../data/20181024_d1_0830_0900.csv')

In [65]:
data.head()

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1  2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2  3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3  4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4  5; Motorcycle; 138.01; 24.841425; 37.978134; 2...

In [66]:
track_ids = []
types = []
traveled_d = []
avg_speeds = []
trajectories = []

for r in range(len(data)): 
    row = data.iloc[r,:][0].split(";")
    row_p1 = row[:4]
    row_p2 = row[4:]
    trajectory = ','.join(row_p2)
    
    track_ids.append(row_p1[0])
    types.append(row_p1[1])
    traveled_d.append(row_p1[2])
    avg_speeds.append(row_p1[3])
    trajectories.append(trajectory[1:])

In [68]:
columns = data.columns[0].split(";")[:4]
columns.append("trajectory")
columns[1] = "types"
for i in range(len(columns)):
    columns[i] = columns[i].strip()
logging.info(columns)
print(columns)

['track_id', 'types', 'traveled_d', 'avg_speed', 'trajectory']

In [76]:
data_dict= {columns[0]:track_ids, columns[1]:types, columns[2]:traveled_d, columns[3]:avg_speeds,columns[4]:trajectory}

In [77]:
df= pd.DataFrame(data_dict)

In [79]:
df.head()

,track_id,types,traveled_d,avg_speed,trajectory
0,1,Car,48.85,9.770344,"37.978428, 23.735538, 24.1909, -0.0077, -0.06..."
1,2,Motorcycle,98.09,19.839417,"37.978428, 23.735538, 24.1909, -0.0077, -0.06..."
2,3,Motorcycle,63.80,18.228752,"37.978428, 23.735538, 24.1909, -0.0077, -0.06..."
3,4,Motorcycle,145.72,26.229014,"37.978428, 23.735538, 24.1909, -0.0077, -0.06..."
4,5,Motorcycle,138.01,24.841425,"37.978428, 23.735538, 24.1909, -0.0077, -0.06..."

In [59]:
df.to_csv('data_22_7_2022.csv')